.content {
  width: 85%;
  float: left;
  font-family: "Poppins", sans-serif;
}
.navbar {
  width: 55%;
  margin: 10px 0px 20px 15px;
}
.navbarkiri {
  width: 65%;
  float: left;
  margin-right: 20px;
}
.navbarkiri input {
  width: 100%;
  height: 5vh;
  box-shadow: 0px 0px 3px 0px rgb(211 211 211);
  border: none;
}
.navbarkanan {
  width: 30%;
  float: right;
}

.navbarkanan button {
  width: 100%;
  height: 5vh;
  border: none;
  box-shadow: 0px 0px 3px 0px rgb(211 211 211);
  background: #46c4f5;
  color: white;
}
.card {
  width: 100%;
  margin-top: 20px;
  background: white;
  float: left;
  box-sizing: border-box;
  padding: 10px 10px 10px 10px;
  box-shadow: 0px 0px 3px 0px rgb(211 211 211);
}
.judul {
  width: 100%;
}
.judul h5 {
  display: inline-block;
  margin: 0;
  margin: 0px 10px 0px 5px;
}
.atas {
  width: 100%;
  box-sizing: border-box;
  padding: 0px 5px;
  align-items: center;
  display: flex;
}
.button1 {
  width: 35%;
  height: 4vh;
  margin-right: 5px;
  text-align: left;
}
.button2 {
  width: 28%;
  height: 4vh;
  margin-right: 5px;
  text-align: left;
}
.buttonnama {
  width: 20%;
  margin-right: 5px;
  height: 4vh;
  text-align: left;
}
.buttonplus {
  height: 4vh;
  width: 30px;
  margin-right: 5px;
}
.bawah {
  width: 100%;
  box-sizing: border-box;
  padding: 0px 5px;
  text-align: center;
  display: flex;
  margin-top: 5px;
}
.buttonbawah {
  float: right;
  margin-top: 20px;
  margin-right: 20px;
}
.cencel {
  width: 100px;
  height: 5vh;
  margin-right: 10px;
  border: none;
  outline: none;
  border-radius: 4px;
}
.apploy {
  width: 100px;
  height: 5vh;
  background: #46c4f5;
  border: none;
  outline: none;
  border-radius: 4px;
}
