.container {
  width: 100%;
  margin: auto;
  align-items: center;
}
.nav_navbarkiri {
  width: 100%;
  height: 8vh;
  background-color: deeppink;
  margin: auto;
  display: flex;
  background: linear-gradient(to right, #eb4886, #a359b0);
}
.lector {
  color: rgb(255, 255, 255);
  margin: auto;
  align-items: center;
}
.listitemprops {
  width: 70%;
  margin: auto;
  text-align: left;
}
.edit {
  margin: 15px 0px 0px 10px;
  font-size: 12px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
.edit:hover {
  color: #eb4886;
  text-decoration: underline #eb4886;
}
.edit a {
  margin-left: 10px;
}

/* .edittitle {
  display: inline-block;
  margin: 15px 0px 0px 10px;
  font-size: 12px;
  font-weight: 400;
} */

@media screen and (max-width: 500px) {
  .listitemprops {
    width: 70%;
    margin: auto;
    text-align: left;
    margin-left: 100px;
  }
  .lector {
    color: rgb(255, 255, 255);
    margin: auto;
    align-items: center;
    font-size: 18px;
  }
  .edittitle {
    display: inline-block;
    margin: 15px 0px 0px 10px;
    font-size: 15px;
    font-weight: 400;
  }
}
