.content {
  float: left;
  width: 85%;
  font-family: "Poppins", sans-serif;
}
.contentkiri {
  width: 25%;
  margin: 15px 20px;
  box-sizing: border-box;
  float: left;
  box-shadow: 0px 0px 3px 0px rgb(211 211 211);
}
.buttonbutton button {
  width: 100%;
  height: 5vh;
  margin-bottom: 2px;
}
.contentkanan {
  width: 70%;
  margin: 15px 0px;
  float: left;
}
.contentkanan h3 {
  margin: auto auto 10px auto;
  width: 60%;
  text-align: center;
  font-size: 15px;
}
.isi {
  width: 100%;
  height: 50vh;
}
.p1 input {
  margin: 0px 5px 0px 0px;
}
.p1 h5 {
  margin: 0;
  display: inline-block;
}

.p2 input {
  margin: 0px 0px 0px 5px;
  width: 50px;
  height: 20px;
}
.p2 h5 {
  margin: 0;
  display: inline-block;
}
@media screen and (max-width: 500px) {
  .content {
    width: 100%;
  }
  .contentkiri {
    width: 90%;
    margin: auto 15px;
    box-sizing: border-box;
  }
  .contentkanan {
    width: 90%;
    margin: 15px;
  }
}
