.order {
  margin: 0px 0px 0px 0px;
}
.overview {
  margin: 0px 0px;
  font-weight: 400;
}
.divorderstatus {
  margin: 15px 0px 0px 15px;
}
.divorderstatus button {
  margin-right: 5px;
}

.navbar {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
.navbarkanan {
  margin-right: 20px;
}
.navbarkanan input {
  outline: none;
}
.clear {
  clear: both;
}

.table {
  font-family: "Poppins", sans-serif;
  border-collapse: collapse;
  width: 90%;
  font-size: 14px;
}
.tr {
  border: 1px solid #fffbfb;
  text-align: left;
  background-color: rgb(49, 49, 49);
  color: white;
}
.tr th {
  font-size: 14px;
  margin-bottom: 10px;
  padding: 5px 5px;
}

.borderradius1 {
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}
.borderradius2 {
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}
.navtable {
  margin-top: 20px;
}
.divresent {
  margin: 15px 0px 0px 15px;
}
.open {
  background-color: #875ec0;
  border: 1px solid #875ec0;
  border-radius: 5px;
  outline: none;
  color: white;
  padding: 2px 7px;
}
.procces {
  background-color: #eb4883;
  border: 1px solid #eb4883;
  padding: 2px 7px;
  outline: none;
  color: white;
  border-radius: 5px;
  padding: 2px 7px;
}
.procces2 {
  background-color: #ffb92d;
  border: 1px solid #ffb92d;
  outline: none;
  border-radius: 5px;
  padding: 2px 7px;
  color: white;
}
.onhold {
  background-color: #46c4f5;
  outline: none;
  border: 1px solid #46c4f5;
  border-radius: 5px;
  color: white;
  padding: 2px 7px;
}
.open2 {
  background-color: #4bef51;
  outline: none;
  border: 1px solid #4bef51;
  border-radius: 5px;
  color: white;
  padding: 2px 7px;
}
.divorderstatus p {
  font-weight: 600;
}
.resentcontent {
  width: 100%;
}
.resentmenit {
  float: left;
  font-family: "Poppins", sans-serif;
  width: 25%;
  font-size: 15px;
  font-weight: 400;
  margin-top: 5px;
}
.resentimg {
  width: 20%;
  float: left;
  margin: 15px 0px 0px 35px;
}
.resentimg1 {
  background: #eb4883;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}
.resentimg2 {
  background: #875ec0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.resentimg3 {
  background: #46c4f5;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.resentimg4 {
  background: #ffb92d;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.resentimg5 {
  background: #4bef51;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.resenttask {
  width: 30%;
  float: left;
  font-weight: 300;
}
.task1 {
  margin: 7px 0 0 0;
  font-size: 15px;
}
.task2 {
  font-size: 10px;
  margin: 0 0 0 0;
  font-weight: 500;
}
.button {
  background: #e74a89;
  border: none;
  border-radius: 4px;
  padding: 7px 7px 5px 7px;
  color: white;
  outline: none;
}

@media screen and (max-width: 500px) {
  .resentimg1 {
    background: #eb4883;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
  }
  .resentimg2 {
    background: #875ec0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  .resentimg3 {
    background: #46c4f5;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  .resentimg4 {
    background: #ffb92d;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  .resentimg5 {
    background: #4bef51;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  .task1 {
    margin: 7px 0 0 0;
    font-size: 15px;
  }
  .task2 {
    font-size: 9px;
    margin: 0 0 0 0;
    font-weight: 500;
  }
  .resenttask {
    width: 30%;
    float: left;
    font-weight: 300;
    margin-top: 10px;
  }
}
