.content {
  width: 85%;
  float: left;
}
.card {
  width: 90%;
  background: white;
  box-shadow: 0px 0px 3px 0px rgb(211 211 211);
  margin: 30px;
  box-sizing: border-box;
  padding: 10px;
}
.card button {
  border-radius: 20px;
  border: none;
  padding: 5px;
  margin-right: 10px;
}
.img {
  margin-top: 10px;
  display: inline-block;
}
.bar {
  width: 100%;
  font-family: "Poppins", sans-serif;
}
.bar input {
  width: 5%;
  float: left;
}
.status {
  margin: 0;
  font-weight: 400;
  width: 10%;
  float: left;
}
.signalname {
  margin: 0;
  font-weight: 400;
  width: 36%;
  float: left;
}
.severty {
  margin: 0;
  font-weight: 400;
  width: 12%;
  float: left;
}
.stage {
  margin: 0;
  font-weight: 400;
  width: 12%;
  float: left;
}
.lasped {
  margin: 0;
  font-weight: 400;
  width: 12%;
  float: left;
}
.team {
  margin: 0;
  font-weight: 400;
  width: 12%;
  float: left;
}
.row {
  width: 30%;
  margin: auto;
}
.row h5 {
  font-weight: 400;
  display: inline-block;
}
.row button {
  padding: 6px;
  width: 70px;
  text-align: left;
  margin-left: 10px;
  height: 30px;
  border-radius: 4px;
}
@media screen and (max-width: 500px) {
  .content {
    width: 100%;
    background: brown;
  }
  .card {
    width: 95%;
    background: white;
    box-shadow: 0px 0px 3px 0px rgb(211 211 211);
    margin: auto;
    box-sizing: border-box;
    padding: 0px;
    font-size: 7px;
  }
  .bar {
    width: 100%;
    font-family: "Poppins", sans-serif;
  }
  .bar input {
    width: 3%;
    float: left;
  }
  .row button {
    padding: 6px;
    width: 20px;
    text-align: left;
    margin-left: 10px;
    height: 20px;
    border-radius: 4px;
  }
}
